<!DOCTYPE html>
<html>
<head>
  <title>Video Analysis Report</title>
</head>
<body>
  <h1>Video Analysis Report</h1>
  <p><b>Total Frames:</b> {{ report.total_frames }}</p>
  <p><b>FPS:</b> {{ report.fps }}</p>
  <p><b>Duration (sec):</b> {{ report.duration_sec }}</p>
  <p><b>Resolution:</b> {{ report.resolution }}</p>
  <p><b>Players Detected:</b> {{ report.players_detected }}</p>
  <video width="480" controls>
    <source src="{{ url_for('static', filename='uploads/' + filename) }}" type="video/mp4">
  </video>
  <br><br>
  <a href="/">Upload another video</a>
</body>
</html>
